{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="display-1">Библиотека</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Автор</th>
                <th scope="col">Название</th>
                <th scope="col">Год написания</th>
                <th scope="col">Удалить</th>
                <th scope="col">Редактировать</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <th scope="row">{{ book.author }}</th>
                    <td>{{ book.title|capitalize }}</td>
                    <td>{{ book.year }}</td>
                    <td>
                        <a href="{{ url('delete_book', {'id': book.id}) }}">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('edit_book', {'id': book.id}) }}">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-link">
            <a href="{{ url('add_book') }}">
                <i class="far fa-plus-square"></i>
            </a>
        </button>
    </div>
{% endblock %}